<% content_for :title, "Editar Funcionário" %>

<div class="container mt-5">
  <h1 class="text-center mb-4">Editar Funcionário</h1>

  <div class="card shadow">
    <div class="card-body">
      <%= render "form", employee: @employee %>
    </div>
  </div>

  <div class="text-center mt-4">
    <%= link_to "Ver detalhes", @employee, class: "btn btn-info" %> |
    <%= link_to "Voltar", employees_path, class: "btn btn-secondary" %>
  </div>
</div>