<div id="<%= dom_id sector %>">
  <p>
    <strong>Name:</strong>
    <%= sector.name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= sector.unit_id %>
  </p>

  <p>
    <%= button_to "Desativar", deactivate_sector_path(sector), method: :patch, data: { confirm: "Tem certeza?" } if sector.active %>
  </p>

</div>
