<% content_for :title, "Novo Setor" %>

<div class="container mt-4">
  <h1 class="text-center mb-4">Novo Setor</h1>

  <div class="card shadow-sm p-4">
    <%= render "form", sector: @sector %>
  </div>

  <div class="text-center mt-3">
    <%= link_to "Voltar", sectors_path, class: "btn btn-secondary" %>
  </div>
</div>
