<div id="<%= dom_id unit %>">
  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= unit.active ? "Ativo" : "Inativo" %>
  </p>

  <p>
    <%= button_to "Desativar", deactivate_unit_path(unit), method: :patch, data: { confirm: "Tem certeza?" } if unit.active %>
  </p>

</div>
