<div id="<%= dom_id unit %>" class="card shadow-sm p-3">
  <p>
    <strong>Nome:</strong> <%= unit.name %>
  </p>

  <p>
    <strong>Status:</strong> <span class="<%= unit.active? ? 'text-success' : 'text-danger' %>">
      <%= unit.active? ? "Ativo" : "Inativo" %>
    </span>
  </p>
</div>
